@charset "UTF-8";
/* Variables para colores */
/* Tipografía */
@font-face {
  font-family: "Roboto";
  src: url(Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
  font-weight: 500;
}
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
}

/* Encabezado */
header {
  background-color: #ffffff;
  color: #191919;
}

/* Footer */
footer {
  background-color: #ffffff;
  color: #191919;
  padding: 1rem 0;
  text-align: center;
}
footer .container {
  margin: 0 10%;
}
footer p {
  margin: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(152deg, #a8ada4, #373434, #000000, #050505, #d32225);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2rem;
  height: 100vh;
}
.hero h2 {
  font-size: 3rem;
  margin: 0;
}
.hero p {
  font-size: 1.5rem;
  margin: 0.5rem 0 0;
}

.hero-contacto {
  background-image: url(../../style/Imagenes/ORBIT\b rand-5.png);
  background-size: cover;
  background-position: center;
  height: 12.5rem; /* 200px */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #f1511b;
  padding: 2rem;
}

/* Contenido Index */
.contenido-index {
  text-align: center;
}

.titulo {
  font-size: 5rem;
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1rem;
}

.subtitulo {
  font-size: 1.5rem;
  color: #f0f0f0;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Sección "Nosotros" */
.nosotros {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  transition: 1s;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}
.nosotros:hover {
  background-color: #fff;
  box-shadow: 10px 5px 5px #f1511b;
  border-radius: 30px;
}
.nosotros .text-nosotros {
  margin: 30px;
  margin-top: 80px;
}

/* Sección "About Us" */
.aboutUs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  justify-items: center;
  margin-top: 3rem;
}
.aboutUs .about-icon {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}
.aboutUs .about-icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.aboutUs .about-icon img.icon {
  max-width: 100px;
  height: auto;
  margin-bottom: 1rem;
}
.aboutUs .about-icon p.propositos {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

/* Sección "Categories" */
.categories {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.categories .icon-Categories {
  text-align: center;
  border: transparent;
  border-radius: 100px;
  width: 120px;
  padding: 20px;
  margin: 20px;
}
.categories .icon-Categories svg {
  width: 80px;
  height: 80px;
  fill: #191919;
  margin-bottom: 10px;
}
.categories .icon-Categories h3 {
  margin: 0;
  font-size: 1.2em;
  color: #555;
}
.categories .link-text {
  text-decoration: none;
}

/* Sección "Productos" */
.ventas-productos {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin: 40px;
  flex-wrap: wrap;
}
.ventas-productos .product {
  background-color: #fff;
  padding: 10px;
  margin: 40px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: justify;
  transition: 1s;
}
.ventas-productos .product img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  transition: 1s;
}
.ventas-productos .product:hover {
  box-shadow: 10px 5px 5px #747473;
}
.ventas-productos .product p {
  margin: 5px 0;
  color: #777;
}
.ventas-productos .img-producto {
  width: 115px;
  height: 150px;
}
.ventas-productos .img-ctg {
  width: 125px;
  height: 120px;
}

/* Sección de Contacto */
/* Estilo de la Sección de Contacto */
.contact-box {
  background-color: #f9f9f9;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1.5rem; /* 24px */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* 8px 16px */
  max-width: 24rem;
  text-align: center;
  transition-duration: 1s;
}
.contact-box:hover {
  box-shadow: 0.625rem 0.3125rem 0.3125rem #747473; /* 10px 5px 5px */
}
.contact-box .contact-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}
.contact-box .contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-box .contact-container form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-box .contact-container form .form-group label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}
.contact-box .contact-container form .form-group input,
.contact-box .contact-container form .form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 0.125rem solid #ddd; /* 2px */
  border-radius: 0.5rem; /* 8px */
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}
.contact-box .contact-container form .form-group input:focus,
.contact-box .contact-container form .form-group textarea:focus {
  border-color: #f1511b; /* Color de enfoque */
  outline: none;
}
.contact-box .contact-container form .submit-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem; /* 8px */
  background-color: #f1511b; /* Color del botón */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-box .contact-container form .submit-button:hover {
  background-color: #cc3d0d; /* Color del botón al pasar el mouse */
}
.contact-box .video-direccion {
  align-items: center;
  text-align: center;
  font-size: smaller;
}
.contact-box .input-contacto {
  flex-wrap: wrap;
  width: 12.5rem; /* 200px */
  padding: 0.625rem; /* 10px */
  height: 18.75rem; /* 300px */
  margin-top: 0; /* 20px */
}
.contact-box textarea {
  resize: vertical;
  min-height: 3.75rem; /* 60px */
  max-height: 6.25rem; /* 100px */
}

.input-contacto {
  flex-wrap: wrap;
  width: 12.5rem;
  padding: 0.625rem;
  height: 18.75rem;
  margin-top: 0;
}

textarea {
  resize: vertical;
  min-height: 3.75rem;
  max-height: 6.25rem;
}

/* Navbar */
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.337254902);
  border-radius: 5px;
  color: #fff;
  transition: 1s;
}

.title-body {
  text-align: center;
  border-bottom: solid;
  border-radius: 30px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .nav-me {
    display: flex;
    justify-content: end;
  }
}
/* Media Queries */
@media (max-width: 768px) {
  .container {
    margin: 0 5%;
  }
  .hero {
    height: 100%;
  }
  .hero h2 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .contact-box {
    padding: 1rem;
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  body {
    background-size: contain; /* Escala la imagen para que se ajuste en pantallas más pequeñas */
  }
  .cont-index {
    margin: 20px;
    padding: 15px;
  }
}
/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .container {
    margin: 0 5%;
  }
  .hero h2 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.25rem;
  }
  .product {
    flex-basis: calc(33.33% - 20px);
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 3%;
  }
  .hero h2 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .product {
    flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .container {
    margin: 0 2%;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 0.9rem;
  }
  .product {
    flex-basis: 100%;
  }
}/*# sourceMappingURL=style.css.map */