/* Footer */
footer {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  padding: 1rem 0;
  text-align: center;
}

footer .container {
  margin: 0 10%;
}

footer p {
  margin: 0;
}
