/* Agregue una fuente de google que me pareció más interesante para mi página web y la enlace directamente con el index */
@font-face {
  font-family: "Roboto";
  src: url(Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
  font-weight: 500;
}

/* ==================================================================================== */

/* Cuerpo de Toda la pagina tendra las opciones del body */
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #f0f0ee;
}

/* En el encabezado de la página */
header {
  background-color: #f0f0ee;
  color: #191919;
}

.container {
  margin: 0 10%;
}

/* Sección del Navbar */

.nav-item:hover {
  background-color: #ffffff;
  border-radius: 0.3125rem; /* 5px */
  color: #fff;
  transition: 1s;
}
.titulo {
  font-size: large;
  color: #191919;
  margin-left: 0.625rem; /* 10px */
}

/* Agregue una nueva clase para los títulos de las páginas agregar */
.title-body {
  text-align: center;
  border-bottom: solid;
  border-radius: 1.875rem; /* 30px */
  font-size: 1.5em;
  margin-bottom: 1.25rem; /* 20px */
}

/* ==================================================================================== */

.hero {
  background-image: url("./Imagenes/ORBIT\ brand-1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 2rem;
}
.hero h2 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 0.5rem 0 0;
}

/* ==================================================================================== */
.cont-nosotros {
  margin-right: 20%;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.nosotros {
  background-color: #f0f0ee;
  display: flex;
  text-align: center;
  transition-duration: 1s;
  width: 100%;
}

.nosotros:hover {
  background-color: #fff;
  box-shadow: 0.625rem 0.3125rem 0.3125rem #f1511b; /* 10px 5px 5px */
  border-radius: 1.875rem; /* 30px */
}

.text-nosotros {
  margin: 1.875rem; /* 30px */
  margin-top: 5rem; /* 80px */
}
.cont-grip {
  margin-left: 10%;
  margin-right: 10%;
}

/* Estilo para la sección "aboutUs" */
.aboutUs {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem; /* Espacio entre elementos */
  padding: 2rem; /* Espaciado alrededor del contenedor */
  background-color: #f0f0ee; /* Fondo del contenedor */
  justify-items: center; /* Centrar los elementos en cada celda */
  margin-top: 3rem;
}

/* Estilo para los elementos "about-icon" dentro de la cuadrícula */
.about-icon {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.about-icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes de los iconos */
.about-icon img.icon {
  max-width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

/* Estilo para los párrafos dentro de "about-icon" */
.about-icon p.propositos {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

/* ==================================================================================== */

.hero-contacto {
  background-image: url(./Imagenes/ORBIT\ brand-5.png);
  background-size: cover;
  background-position: center;
  height: 12.5rem; /* 200px */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #f1511b;
  padding: 2rem;
}

/* Estilo de la Sección de Contacto */
.contact-box {
  background-color: #f9f9f9;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1.5rem; /* 24px */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* 8px 16px */
  max-width: 24rem;
  text-align: center;
  transition-duration: 1s;
}

.contact-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 0.125rem solid #ddd; /* 2px */
  border-radius: 0.5rem; /* 8px */
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #f1511b; /* Color de enfoque */
  outline: none;
}

.submit-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem; /* 8px */
  background-color: #f1511b; /* Color del botón */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff48008e; /* Color del botón al pasar el mouse */
}

.video-direccion {
  align-items: center;
  text-align: center;
  font-size: smaller;
}

.input-contacto {
  flex-wrap: wrap;
  width: 12.5rem; /* 200px */
  padding: 0.625rem; /* 10px */
  height: 18.75rem; /* 300px */
  margin-top: 1.25rem; /* 20px */
}

textarea {
  resize: vertical;
  min-height: 3.75rem; /* 60px */
  max-height: 6.25rem; /* 100px */
}

footer {
  background-color: #f0f0ee; /* Color de fondo del footer */
  color: #191919; /* Color del texto del footer */
  padding: 1rem 0;
  text-align: center;
}

footer .container {
  margin: 0 10%;
}

footer p {
  margin: 0;
}
