/* Agregue una fuente de google que me pareció más interesante para mi página web y la enlace directamente con el index */
@font-face {
  font-family: "Roboto";
  src: url(Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
  font-weight: 500;
}

/* ==================================================================================== */

/* Cuerpo de Toda la pagina tendra las opciones del body */
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #ffffffa7;
}

/* En el encabezado de la página */
header {
  background-color: #ffffff;
  color: #191919;
}

.container {
  margin: 0 10%;
}

/* Sección del Navbar */

.nav-item:hover {
  background-color: #ffffff;
  border-radius: 0.3125rem; /* 5px */
  color: #fff;
  transition: 1s;
}

/* ==================================================================================== */

.hero {
  background-image: url("./Imagenes/ORBIT\ brand-1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 2rem;
}

footer {
  background-color: #f0f0ee; /* Color de fondo del footer */
  color: #191919; /* Color del texto del footer */
  padding: 1rem 0;
  text-align: center;
}

footer .container {
  margin: 0 10%;
}

footer p {
  margin: 0;
}
