/* Sección de Contacto */

/* Estilo de la Sección de Contacto */
.contact-box {
  background-color: #f9f9f9;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 1.5rem; /* 24px */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* 8px 16px */
  max-width: 24rem;
  text-align: center;
  transition-duration: 1s;

  &:hover {
    box-shadow: 0.625rem 0.3125rem 0.3125rem #747473; /* 10px 5px 5px */
  }

  .contact-container {
    h2 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-size: 1rem;
          color: #555;
          margin-bottom: 0.5rem;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.75rem;
          border: 0.125rem solid #ddd; /* 2px */
          border-radius: 0.5rem; /* 8px */
          font-size: 1rem;
          color: #333;
          background-color: #fff;
          transition: border-color 0.3s ease;

          &:focus {
            border-color: $secondary-color; /* Color de enfoque */
            outline: none;
          }
        }
      }

      .submit-button {
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 0.5rem; /* 8px */
        background-color: $secondary-color; /* Color del botón */
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(
            $secondary-color,
            10%
          ); /* Color del botón al pasar el mouse */
        }
      }
    }
  }

  .video-direccion {
    align-items: center;
    text-align: center;
    font-size: smaller;
  }

  .input-contacto {
    flex-wrap: wrap;
    width: 12.5rem; /* 200px */
    padding: 0.625rem; /* 10px */
    height: 18.75rem; /* 300px */
    margin-top: 0; /* 20px */
  }

  textarea {
    resize: vertical;
    min-height: 3.75rem; /* 60px */
    max-height: 6.25rem; /* 100px */
  }
}

.input-contacto {
  flex-wrap: wrap;
  width: 12.5rem;
  padding: 0.625rem;
  height: 18.75rem;
  margin-top: 0;
}

textarea {
  resize: vertical;
  min-height: 3.75rem;
  max-height: 6.25rem;
}
