.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    152deg,
    #a8ada4,
    #373434,
    #000000,
    #050505,
    #d32225
  );
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2rem;
  height: 100vh;

  h2 {
    font-size: 3rem;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    margin: 0.5rem 0 0;
  }
}

.hero-contacto {
  background-image: url(../.././style/Imagenes/ORBITbrand5.png);
  background-size: cover;
  background-position: center;
  height: 12.5rem; /* 200px */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #f1511b;
  padding: 2rem;
}
