/* Navbar */
.nav-item:hover {
  background-color: #ffffff;
  border-radius: 5px;
  color: #fff;
  transition: 1s;
}

.title-body {
  text-align: center;
  border-bottom: solid;
  border-radius: 30px;
  font-size: 1.5em;
  margin-bottom: 20px;
}



